# Python cache
__pycache__/
*.pyc

# Dataset i slike
dataset/
*.jpg
*.png
*.jpeg
*.zip

# Backend folders
backend/rejected/
backend/uploads/

testing_material

# YOLO model weights
*.pt
yolov8n.pt


# YOLO rezultati i modeli
runs/
*.pt

# Virtualna okruženja
venv/
.venv/

# IDE postavke (PyCharm, VSCode, Rider)
.idea/
.vscode/

# Sistem i privremeni fajlovi
.DS_Store
Thumbs.db
